@using Olympiads.WEB.Models
@model ChangePasswordViewModel
@{
    Layout = "~/Views/Shared/UnauthorizedLayout.cshtml";
    ViewBag.Title = "Смена пароля";
}

@using(Html.BeginForm("ChangePassword","Home",FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(true);

    @Html.HiddenFor(x => x.Code)
    <div class="form-group">
        <label >Новый пароль</label>
        @Html.EditorFor(x => x.NewPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Введите новый пароль" } })
        @Html.ValidationMessageFor(x => x.NewPassword)
    </div>   
    <div>
        <label>Повторите пароль</label>
        @Html.EditorFor(x => x.RepeatPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Повторите пароль" } })
        @Html.ValidationMessageFor(x => x.RepeatPassword)
    </div>   
    <input class="d-flex mx-auto btn btn-premier" type="submit" value="Ок" />
}


